<div class="userSelectList">
    <label class="userSelectListLabel">{{labelText}}</label>
    <input style="font-size: small; height: 35px; width: 100%" ng-focus="showList($event)" ng-change="selectedIndex = 0" ng-blur="hideList($event)" ng-model="inputText" id="searchInput" placeholder={{placeholderText}} autocomplete="off"/>
    <button id="toogleBtn" tabIndex="-1" class="toogleBtn" ng-click="toogleShowHideList($event)">▼</button>
    <div class="usersListContainer showHide" ng-if="isListVisible">
        <div id="usersList" class="usersList" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
            <div class="listElement selectUserListAnim" id="user{{$index}}"
                 data-ng-repeat="user in $parent.filteredUsers = (usersData | userSelectListFilter:inputText:currentUserId | orderBy: ['lastName', 'firstName'])"
                 ng-class="{selectedUser: $index == selectedIndex}" ng-mousedown="select($index)">
                <div class="selectUser-name">{{(user.firstName + " " + (user.lastName || ""))}}</div>
                <div class="selectUser-email">({{user.login}})</div>
            </div>
            <div ng-show="filteredUsers.length == 0" class="selectUserListAnim userSelect-emptyListElement">List is empty</div>
        </div>
    </div>
</div>