<html>
  <head>
    <link rel="stylesheet" href="https://www.hipchat.com/atlassian-connect/all.css">
    <link rel="stylesheet" href="./styles/main.css">
	
    <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	
    <script src="./scripts/app.js"></script>
    <script src="./scripts/kudo_dialog.js"></script>
  </head>
  <body ng-app="kudoAddon">
  <div ng-controller="ConfigurationController">
  
  <div class="text-centered grid" style="margin-top: 20px;">
	<img style="width: 300px" src="./images/logo.png"/>
  </div>
  <div class="grid" style="width: 470px; margin: auto;">
		<div class="text-centered">
			<span class="grid content">
			Please authorize with HipChat KudoAddon creditentials.<br/>
			This will allow us identify your company.
			</span>
			<div class="text-right">
				<a href="https://atb.isolution.pl/#/profile//companyAdministration" target="_blank">AgileToolbox settings</a>
			</div>
		</div>
		<div class="center">
			<div class="grid">
				<label>Login</label>
				<input type="text" id="hipchatUserPassword" ng-model="hipchatUserPassword" ng-minlength=5 ng-maxlength=50>
			</div>
			<div class="grid">
				<label>Password</label>
				<input type="password" id="hipchatUserPassword" ng-model="hipchatUserPassword" ng-minlength=5 ng-maxlength=50>
			</div>
			<div class="grid text-right">
				<button>Sign In</button>
			</div>
		</div>
	</div>
  </div>
  </body>
</html>