<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://www.hipchat.com/atlassian-connect/all.css">
    <link rel="stylesheet" href="scripts/ng-scrollbars/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>

    <script src="scripts/ng-scrollbars/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="scripts/ng-scrollbars/scrollbars.min.js"></script>

    <script src="scripts/app.js"></script>

    <script src="scripts/userSelectList/userSelectList.controller.js"></script>
    <script src="scripts/userSelectList/userSelectList.directive.js"></script>
    <script src="scripts/userSelectList/userSelectList.filter.js"></script>

    <script src="scripts/kudoCardEditor/kudoCardEditor.controller.js"></script>
    <script src="scripts/kudoCardEditor/kudoCardEditor.directive.js"></script>

    <script src="scripts/angular-gravatar-image.js"></script>
</head>
<body ng-app="kudoAddon">
<div ng-controller="KudoDialogController">

    <div class="text-left grid" style="margin-top: 10px; margin-bottom: -15px;">
		<span class="kudoModalCheckbox">
			<span class="checkboxLike" ng-init="cardToSend.anonymous = false" ng-click="cardToSend.anonymous = !cardToSend.anonymous"
				  ng-class="{'checked' : cardToSend.anonymous}" ng-mouseup="loosefocus($event)"
				  ng-click="cardToSend.anonymous != cardToSend.anonymous">
			</span>
			<span class="kudoModalCheckboxText" ng-click="cardToSend.anonymous = !cardToSend.anonymous">Anonymouse</span>
		</span>
        <user-select-list users-data="users" is-remove-current-user="true" current-user-id="currentUserId" selected-user="selectedUser" placeholder-text="Please select user" label-text="To user"></user-select-list>
    </div>
    <div>
        <div class="spinnerContainer" ng-show="isLoading"><img class="spinner" src="images/spinner.svg"/></div>
        <div class="grid" style="width: 470px; margin: auto;">
            <kudo-editor sender-photo-url="senderPhotoUrl" receiver-photo-url="receiverPhotoUrl"
                         for="{{selectedUser.firstName}} {{selectedUser.lastName.substring(0, 1)}}"
                         from="{{loggedUser.firstName}} {{loggedUser.lastName.substring(0, 1)}}"
                         text="cardToSend.text" id="kudos" editable="true" bg="{{kudoBgId}}"
                         anonymous="cardToSend.anonymous"></kudo-editor>
        </div>
        <div style="position: relative; text-align: center;">
            <div class="kudo-cards-templates">
                <div class="kudo-template" ng-repeat="bg in [1, 2, 3, 4, 5, 6]">
                    <button class="bcg-select-btn" ng-click="selectBgId(bg)">
                        <img class="kudo-template-img" ng-src="./images/kudoCards/kudo{{bg}}_min.png"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>