.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #7CA8BD;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
}

.input__field--yoshiko {
    width: 100%;
    background-color: #FFFFFF;
    border: 3px solid #959595;
    color: #959595;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.input__label {
    display: inline-block;
    float: right;
    color: #696969;
    font-weight: lighter;
    font-size: smaller;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}

.input__label--yoshiko {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 80%;
    pointer-events: none;
    overflow: hidden;
    padding: 0 6px;
    transform: translate3d(0, 3em, 0);
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}