@font-face {
	font-family: HandyFont;
	src: url("../images/Amatic-Bold.ttf");
}

input {
	padding: 0.8em;
	width: 300px;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #7CA8BD;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #6a8798;
}

input:focus {
	outline: none;
}

body {
	background-color: #4AA3DF;
	height: initial;
	color: white;
	overflow: hidden;
}

.logo {
	position: relative;
	z-index: 1;
}

.center {
	text-align: center;
	margin: auto;
	display: table;
}

.grid {
	margin: 15px;
}

label {
	display: block;
	text-align: left;
	width: 100%;
	color: white;
	font-weight: bold;
	margin-bottom: 1px;
}

.text-centered {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

button {
	background: #ff6239;;
	border: #ff6239;;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
	padding: 6px 12px;
	color: white;
	font-weight: bold;
}

button:hover {
	background: #fff;
	color: #df5531;
	border: none;
}

button:disabled {
	background-color: #e6886f;
	color: #ffc4a8;
	border: none;
}

.content {
	display: inline-block;
	width: 400px;
	background-color: #2E688E;
	padding: 20px;
}

a {
	color: #011ef7;
	text-decoration: none;
	font-weight: 400;
}

.errorField {
	height: 20px;
	font-size: 12px;
	color: rgb(218, 0, 0);
	font-weight: 100;
	margin-top: 5px;
}

.errorField > div {
	background-color: #ffbdae;
}

.spinnerContainer {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 400px;
	background-color: #4AA3DF;
	top: 0;
}

.spinnerContainer.ng-hide-add {
	transition: all linear 0.5s;
}

.spinnerContainer.ng-hide {
	opacity: 0;
}

.spinner {
	margin-top: 130px;
	width: 80px;
}

/* ===========================================================================
User select list
============================================================================= */

.userSelectList {
	position: relative;
	width: 240px;

	display: inline-block;
	float: right;
	margin-top: -10px;
}

.userSelectListLabel {
	height: 20px;
}

.selectedUser {
	background-color: #F1F1F1;
}

.selectUserPhoto {
	border-radius: 100%;
	height: 44px;
	width: 44px;
	margin-top: 3px;
	margin-left: 6px;
	padding-right: 0;
	padding-left: 0;
}

.selectUser-name {
	font-size: 13px;
	color: #777777;
	white-space: nowrap;
	padding-top: 3px;
}

.selectUser-email {
	color: #b8b8b8;
	text-align: left;
	font-size: 12px;
	margin-top: -2px;
}

.listElement:hover {
	background-color: #e7e7e7;
}

.listElement {
	height: 36px;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #E6E6E6;
	padding-left: 8px;
}

.usersList {
	background-color: #ffffff;
	max-height: 181px;
	border: 2px solid #d0d1d0;
	border-top: none;
}

.toogleBtn {
	height: 31px;
	width: 33px;
	padding: 0;
	right: 0;
	position: absolute;
	margin-top: -33px;
	margin-right: 2px;
}

.usersListContainer {
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	text-align: left;
}

.selectUserListAnim {
	overflow: hidden;
	position: relative;
	opacity: 1;
}

.selectUserListAnim.ng-enter {
	height: 0px;
	opacity: 0;
	transition: 0.2s linear all;
}

.selectUserListAnim.ng-enter-active {
	height: 36px;
	opacity: 1;
}

.selectUserListAnim.ng-leave {
	opacity: 1;
	height: 36px;
	transition: 0.2s linear all;
}

.selectUserListAnim.ng-leave-active {
	height: 0px;
	opacity: 0;
}


/* ===========================================================================
Kudo html
============================================================================= */

.kudoCard-container {
	width: 100%;
	font-family: "HandyFont";
	color: #064c93;
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
}

.kudoCard-container-textArea {
	resize: none;
	padding: 0;
	display: block;
	width: 61%;
	height: 46%;
	margin-left: 8%;
	line-height: 95%;
	font-size: 110%;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: transparent !important;
	font-family: "HandyFont";
}

.kudoCard-label {
	color: white;
	width: 40%;
	line-height: 100%;
	text-align: center;
}

.kudoCard-labelDate {
	text-align: right;
	color: #2c3b70;
	font-size: small;
}

.kudoCard-blocker {
	position: relative;
	width: 100%;
	height: inherit;
	float: inherit;
	margin-top: -56%;
	cursor: pointer;
}


.userSelect-emptyListElement {
	cursor: default;
	height: 35px;
	background-color: #DEDEDE;
	color: #858585;
	vertical-align: top;
	text-align: center;
	padding-top: 8px;
}

.kudo-thumb-avatar {
	height: 20px;
	width: 20px;
}

.kudo-cards-templates-xs {
	padding-left: 0;
	padding-right: 0;
}

.bcg-select-btn {
	background: #2e688e;
	border: #ff6239;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	cursor: pointer;
	padding: 2;
	color: white;
	font-weight: bold;
}

/* checkbox */

.checkboxLike {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #878787;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	background: #c4d9f2;
}

.checkboxLike.checked {
	background: #c4d9f2 url(../images/checkbox_checked.png) no-repeat !important;
	background-size: contain !important;
}

.kudoModalCheckbox {
	padding: 10px 10px 10px 20px;
	display: inline-block;
	max-width: 300px;
	margin-left: -20px;
}

.kudoModalCheckboxText {
	margin-left: 5px;
	float: right;
	margin-top: 2px;
}

.kudo-cards-templates {

}

.kudo-template {
	display: inline-block;
}

.kudo-template-img {
	width: 100px;
}

.img-circle {
	border-radius: 50%;
}